@import "colors";

* {
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box;
}

body {
  width: 100%;
  direction: rtl;

  &.dark {
    background: $bodyBackground !important;

  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  margin: 0 auto;
  &.dark {
    background-color: #fff;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  ul {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      padding: 8px 15px;
    }
  }

  #theme {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
  }

  .btn-login{
    background-color: aquamarine;
    padding: 0px 5px 5px 5px;
    &:hover{
      background-color: darken(aquamarine , 15%) !important;
    }
  }
}